body,
html {
    height: 100vh;
    overflow: hidden;
}

.tab-btn {
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.tab-btn.active-tab {
    font-weight: normal;
    color: black;
}

.tab-btn.active-tab::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Make review content scrollable */
.scrollable-reviews {
    max-height: 490px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Hide scrollbar for webkit browsers */
.scrollable-reviews::-webkit-scrollbar {
    width: 6px;
}

.scrollable-reviews::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

.scrollable-reviews::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.navigation-bar {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 15px;
    background-color: #fff;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}


/* Reviews.css */

.skeleton-card {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-line {
    background-color: #e0e0e0;
    height: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.skeleton-avatar {
    width: 50px;
    height: 50px;
    background-color: #d6d6d6;
    border-radius: 50%;
    margin-right: 15px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}